<!doctype html>
<title>コメダ珈琲ガチャ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=750">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!-- ファビコン -->
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-60WJ918WPH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-60WJ918WPH');
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div class="container">
<div class=page>
  <div class = "heading">
    <h1>コメダ珈琲</h1>
    <h1>おまかせガチャ</h1>
  </div>
  {% block body %}{% endblock %}
</div>
<footer>
  Fork:
  <a href="https://saizeriya-1000yen.marusho.io/" target="_blank">サイゼリヤ1000円ガチャ</a>
</footer>
</div>