<!doctype html>
<head>
  <meta name="description" content="コメダ珈琲おまかせガチャは1000円・1500円・2000円とメイン、ドリンク、デザートから1品ずつ選べるバランスガチャで遊べます。">
  <title>コメダ珈琲おまかせガチャ</title>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=750">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-60WJ918WPH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-60WJ918WPH');
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div class="container">
<div class=page>
  <div class = "heading">
    <h1>
      <a href="https://komeda-gacha.herokuapp.com/">コメダ珈琲</a>
    </h1>
    <h1>
      <a href="https://komeda-gacha.herokuapp.com/">おまかせガチャ</a>
    </h1>
  </div>
  {% block body %}{% endblock %}
</div>
<footer>
    Fork元:
  <u>
    <a href="https://saizeriya-1000yen.marusho.io/" target="_blank">サイゼリヤ1000円ガチャ</a>
  </u>
  </footer>
</div>