{% extends "layout.html" %}
{% block body %}

  <div class = "buttonarea">
    <a href="/1000" class="btn">1000円ガチャを回す</a>
    <a href="/1500" class="btn">1500円ガチャを回す</a>
    <a href="/2000" class="btn">2000円ガチャを回す</a>
    <a href="/balance" class="btn">バランスガチャを回す</a>
  </div>


  <div class="result">
    {% for menu in menus %}
    <div class="box menu">
      <h2>{{ menu.1 }}</h2>
        <p>{{ menu.4 }}円　{{ menu.5 }}kcal</p>
    </div>
    {% else %}
    {% endfor %}
    {% if menus %}
    <div class="box rst">
      <h2>計 {{ budget }}円　{{ calories }}kcal</h2>
    </div>
    {% endif %}

  </div>

  <div class="footer">
    <a href="https://twitter.com/share" class="twitter-share-button"  data-url="https://twitter.com" data-text="{{ text }}" data-lang="ja" data-count="horizontal" data-hashtags="コメダ珈琲ガチャ" data-size="large">Tweet</a>
  </div>
{% endblock %}